header {
    background-color: black;
    padding: 20px 0;
}

.bloco {
    position: relative;
    width: 1500px;
    margin: 0 auto;
}

.navv{
    position: absolute;
    top: 20px;
    right: 0; 
}

.navv .ul-nav{
    display: inline;
}

.navv li{
    display:inline;
    margin: 0 0 0 25px;
}

.navv a{
    text-transform: uppercase;
    color: #FFFFFF;
    font-weight: bold;
    font-size: 22px;
    text-decoration: none;
}

.navv a:hover {
    color: #00FF7F	;
}

.navv a:active {
    color: #32CD32	;
}

.produtos {
    width: 1200px;
    margin: 0 auto;
    padding: 50px 0;
}

.produtos li {
    display: inline-block;
    text-align: center;
    width: 30%;
    vertical-align: top;
    margin: 0 1.5%;
    padding: 30px 20px;
    box-sizing: border-box;
}

.produtos h2 {
    font-size: 30px;
    font-weight: bold;
}

.produto-descricao {
    font-size: 22px;
    margin: 25px 25px 25px 25px;
}

.produto-preco {
    font-size: 22px;
    font-weight: bold;
    margin-top: 10px;
}

.produtos li {
    display: inline-block;
    text-align: center;
    width: 30%;
    vertical-align: top;
    margin: 0 1.5%;
    padding: 30px 20px;
    box-sizing: border-box;
    border: 2px solid #000000;
    border-radius: 20px;
}

.produtos li:hover {
    border-color: #00FF7F;
}

h3 {
    text-transform: uppercase;
    font-weight: bold;
    text-align: center;
    font-size: 2em;
    margin: 70px 100px;
    clear: left;
}

footer {
    text-align: center;
    background: url("imagemPreta.jpg");
    padding: 40px 0;
}

.copyright {
    color: #FFFFFF;
    font-size: 13px;
    margin: 20px 0 0;
}